<% include partials/header %>

<h1>Campgrounds</h1>

<% campgrounds.forEach(function(cg) { %>
   <div>
   <h4><%= cg.name %></h4>
   <img src="<%= cg.image %>">
   </div>
<% }); %>

<a href="/campgrounds/new">New Campground</a><br/>
<a href="/">Back</a>

<% include partials/footer %>
