<h1>Friends</h1>

<% friends.forEach(function(friend) { %>
  <li><%= friend %>
<% }); %>

<form action="/add" method="POST">
  <input type="text" name="name" placeholder="name">
  <button>Add</button>
</form>